@charset "UTF-8";

:root {
    --cor0: #7A9BB2;
    --cor1: #5A7386;
    --cor2: #24445c;
    --cor3: #6B4226;
    --cor4: #7A1F1F;
    --cor5: #EAEAEA;
    --cor6: #1C1C1C;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor1); 
}

header {
    padding-top: 5%;
    display: grid;
    grid-template-rows: 1fr 2fr;
    width: 90vw;
    margin: auto;
}

header img {
    width: 90vw; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 5fr;
    width: 90vw;
    background-color:var(--cor2);
    align-items: center;
}

.menu img {
    width: 12vw;
    margin: auto;
}


.menuLink ul {
    display: grid;
    grid-template-columns: max-content;
    justify-content: end;
}


.menu ul {
    display: flex;
    position: static; 
}

.menuLink a {
    list-style: none;
    text-decoration: none;
    color: var(--cor5);
    padding: 2%;
}

.menuLink a:hover {
    color: var(--cor4);
    background-color: var(--cor5);
    border-radius: 10px;
    font-weight: bold;
}


.menu-toggle {
display: none;
}


@media (max-width: 768px) {

    .menu {
        display: grid;
        grid-template-columns: 2fr 9fr 1fr;
        width: 90vw;
        background-color:var(--cor2);
        align-items: center;
        justify-content: center;
    }

    .menu ul {
        display: none; 
        flex-direction: column;
        position: absolute; 
        top: 23vw; 
        right: 0vw;
        left: 0vw; 
        width: 90vw;
        background: var(--cor2); 
        padding: 10px 0;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
        z-index: 1000;
    }

    .menu ul.ativo {
        display: flex; 
        align-items: center;
        margin: auto;
    }

    .menuLink a:hover {
        color: var(--cor4);
        background-color: var(--cor5);
        border-radius: 10px;
        font-weight: bold;
        width: 95%;
        text-align: center;
    }

    .menu-toggle {
        display: grid;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: var(--cor5);
        font-size: 4vw;
    }
}
  

.capa {
    display: block;
    width: 90vw; 
    height: auto;
    margin: auto;
}

article {
    width: 90vw;
    margin: auto;
    background-color: var(--cor5);
}

footer {
    padding-top: 5%;
}



