@charset "UTF-8";

.jacquard-12-regular {
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
}

.cinzel-decorative-black {
    font-family: "Cinzel Decorative", serif;
    font-weight: 900;
    font-style: normal;
}

.oldenburg-regular {
font-family: "Oldenburg", serif;
font-weight: 400;
font-style: normal;
}

:root {
    --cor0: #7A9BB2;
    --cor1: #5A7386;
    --cor2: #24445c;
    --cor3: #6B4226;
    --cor4: #7A1F1F;
    --cor5: #EAEAEA;
    --cor6: #1C1C1C;

    --font0: "Cinzel Decorative", Helvetica, sans-serif;
    --font1: Helvetica, sans-serif;
    --font2: "Oldenburg";

    --tamanhopadrao: 70vw;
}  

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor1); 
    padding-top: 5%;
}

header {
    display: grid;
    grid-template-rows: 1fr 2fr;
    width: var(--tamanhopadrao);
    margin: auto;
    background-color: var(--cor0);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

header img {
    width: var(--tamanhopadrao); 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 5fr;
    width: var(--tamanhopadrao);
    background-color:var(--cor2);
    align-items: center;
}

.menu img {
    width: 12vw;
    margin: auto;
}

.menuLink ul {
    display: grid;
    grid-template-columns: max-content;
    justify-content: end;
}

.menu ul {
    display: flex;
    position: static; 
}

.menu ul a {
    font-family: var(--font2);
}

.menuLink a {
    list-style: none;
    text-decoration: none;
    color: var(--cor5);
    padding: 2%;
    font-size: 2vw;
}

.menuLink a:hover {
    color: var(--cor4);
    background-color: var(--cor5);
    border-radius: 10px;
    font-weight: bold;
}

.menu-toggle {
display: none;
}

@media (max-width: 768px) {

    :root {
        --tamanhopadrao: 75vw;
    }

    .menu {
        display: grid;
        grid-template-columns: 2fr 9fr 1fr;
        width: var(--tamanhopadrao);
        background-color:var(--cor2);
        align-items: center;
        justify-content: center;
    }

    .menu ul {
        display: none; 
        flex-direction: column;
        position: absolute; 
        top: 21vw; 
        right: 0vw;
        left: 0vw; 
        width: var(--tamanhopadrao);
        background: var(--cor2); 
        padding: 10px 0;
        z-index: 1000;
        margin-bottom: 20px;
    }

    .menu ul.ativo {
        display: flex; 
        align-items: center;
        margin: auto;
    }

    .menuLink a {
        font-size: 2vw;
    }

    .menuLink a:hover {
        color: var(--cor4);
        background-color: var(--cor5);
        border-radius: 10px;
        font-weight: bold;
        width: 95%;
        text-align: center;
    }

    .menu-toggle {
        display: grid;
        background: none;
        border: none;
        font-size: 4vw;
        cursor: pointer;
        color: var(--cor5);
    }
}

@media (max-width: 668px) {

    :root {
        --tamanhopadrao: 80vw;
    }
}

@media (max-width: 568px) {

    :root {
        --tamanhopadrao: 85vw;
    }
}

@media (max-width: 468px) {

    :root {
        --tamanhopadrao: 100vw;
    }

    body {
        padding: 0;
    }

    header {
        padding: 0;
        background-color: var(--cor0);
    }

    header img {
        margin: 0;
    }

    .menu img{
        width: 20vw;
    }

    .menuLink a {
        font-size: 4vw;
    }

    .menu ul {
        top: 26vw;
    }

    article {
        border-radius: 0;
    }

    article h1 {
        font-size: 10vw;
    }

    article p{
        font-size: 4vw;
    }

}

main {
    width: var(--tamanhopadrao);
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--cor5);
}

.capa {
    display: block;
    width: var(--tamanhopadrao); 
    height: auto;
    margin: auto;
}

article {
    width: var(--tamanhopadrao);
    margin: auto;
    background-color: var(--cor5);
    padding-bottom: 3vw;
    z-index: 1;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

h1 {
    font-family: var(--font0);
    padding: 2vw;
    padding-top: 3vw;
    text-align: center;
    font-size: 7vw;
    color: var(--cor3);
}

p {
    font-family: var(--font1);
    text-align: justify;
    font-size: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-bottom: 3vw;
    color: var(--cor6);
}

.etapas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 3vw;
    background-color: var(--cor3);
    padding-top: 4vw;
    padding-bottom: 4vw;
}

.etapas img {
    width: 15vw;
    border-radius: 5px;
    align-items: center;
}

abbr {
    text-align: center;
}

.jogo {
    display: block;
    width: 50vw;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 3vw;
}

footer {
    position: relative;
    z-index: 0;
    background: none;
    overflow: visible;
    height: 15vw;
}

footer p {
    padding-top: 5vw;
    font-family: var(--font2);
    color: var(--cor5);
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: var(--cor5);
}


footer::before {
content: "";
position: absolute;
top: -25vw; 
left: 0;
width: 100%;
height: 40vw;
background-image: url('../img/footer.png');
background-size: cover;
background-repeat: repeat-x;
z-index: -1; 
}